@* @model List<Qualifications>; *@

<div id="dashboard">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Qualifications List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6"></div>
                <div class="col-6 text-end">
                    <a asp-controller="QualificationsMV" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create New Qualification
                    </a>
                </div>
            </div>
            <table id="qualificationsTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>University</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Percentage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated dynamically -->
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/qualifications.js"></script>
}
